@model IEnumerable<SmartAdmin.WebUI.Models.BuildingFloors>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyFloorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyFloorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdBuildingFloor">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdBuildingFloor">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdBuildingFloor">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        pageTitle.innerHTML = '<i class="fontello-icon-monitor"></i>' + 'List of Floors ';
    </script>
}
