@model SmartAdmin.WebUI.Controllers.NoteDTO
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Mandoob</h5>
            <p class="card-text">@Model.Note</p>
            <p class="card-text"><small class="text-muted">@Model.Created</small></p>
        </div>
    </div>
    @*<div class="form-group row">
        <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Note</label>
        <div class="col-sm-9">
            <p class="col-form-label col-sm-9 text-sm-left">@Model.Note</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Representative</label>
        <div class="col-sm-9">
            <p class="col-form-label col-sm-9 text-sm-left">@Model.Mandoob</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Date</label>
        <div class="col-sm-9">
            <p class="col-form-label col-sm-9 text-sm-left">@Model.Created</p>
        </div>
    </div>*@
</div>