<!DOCTYPE html>
<partial name="_CopyrightHeader" />
<html lang="en">
<head>
    <partial name="_Head" />

    <link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
    @* This styleSheet for change defult color theme   *@
    <link rel="stylesheet" media="screen, print" href="~/css/themes/cust-theme-3.css" />


    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" media="screen, print" />
    <link href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" media="screen, print" />
    <link href="~/css/formplugins/select2/select2.bundle.css" rel="stylesheet" media="screen, print">
    <link href="~/css/formplugins/dropzone/dropzone.css" rel="stylesheet" media="screen, print">
    <link href="~/css/notifications/toastr/toastr.css" rel="stylesheet" media="screen, print">
    @RenderSection("HeadBlock", required: false)
</head>
<body class="mod-bg-1 @ViewBag.PreemptiveClass ">
    <partial name="_ScriptsLoadingSaving" />
    <div class="page-wrapper">
        <div class="page-inner">
            <partial name="_LeftPanel" />
            <div class="page-content-wrapper">
                <partial name="_PageHeader" />
                <main id="js-page-content" role="main" class="page-content">
                    @if (ViewBag.PreemptiveClass?.Length > 0)
                    {
                    }
                    else
                    {
                        <partial name="_PageBreadcrumb" />
                        <div class="subheader">
                            <partial name="_PageHeading" />
                            @RenderSection("SubheaderBlock", required: false)
                        </div>
                    }
                    @RenderBody()
                </main>
                <partial name="_PageContentOverlay" />
                <partial name="_PageFooter" />
                <partial name="_ShortcutModal" />
                <partial name="_ColorProfileReference" />
            </div>
        </div>
    </div>
    <partial name="_ShortcutMenu" />
    <partial name="_ShortcutMessenger" />
    <partial name="_PageSettings" />
    <partial name="_GoogleAnalytics" />
    <partial name="_ScriptsBasePlugins" />

    @*Start Js for shart*@
    <script src="~/js/statistics/peity/peity.bundle.js"></script>
    <script src="~/js/statistics/flot/flot.bundle.js"></script>
    <script src="~/js/statistics/easypiechart/easypiechart.bundle.js"></script>

    @*End Js for shart*@

    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/js/formplugins/dropzone/dropzone.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/custom.js?q=2"></script>
    @*<script src="~/js/customx.js"></script>*@
    @RenderSection("ScriptsBlock", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>