@model SmartAdmin.WebUI.Models.Invoices
@{ ViewData["Title"] = "Invoice";
    ViewData["PageName"] = "Invoice";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-plus-circle'></i>  Invoice <button class='btn btn-success' style='float:right' onclick='window.print()'> print Invoice </button>";
    ViewData["PageDescription"] = "Printable Invoice Page";
    ViewData["Category1"] = "Page Views"; }
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/page-invoice-2.css">
}
<div class="container">
    <div data-size="A4">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-center mb-5">
                    <h2 class="fw-300 display-4 fw-500 color-primary-600 keep-print-font pt-4 l-h-n m-0">
                        INVOICE
                        <div class="text-dark fw-700 h1 mb-0 keep-print-font">
                            # @("E-"+Model.InvoiceId)
                        </div>
                        <div class="text-dark fw-700 h5 mb-g keep-print-font">
                            Vat No. 301236576400003
                        </div>
                        <img id="barcode" alt="" class="position-absolute pos-top pos-right height-mobile-auto mt-1 " src="/img/logo_print.png">
                    </h2>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">
                        <tbody>
                            <tr>
                                <td style="width:30%">
                                    <strong>Payment Date:  </strong>
                                </td>
                                <td style="width:70%">
                                    @Model.PaymentDate.ToShortDateString()
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>@(Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mUnit == null ? "Compound" : "Building Number") </strong>
                                </td>
                                <td>
                                    @(Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mUnit == null ?
                                         Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mCompoundUnits.mCompoundBuilding.BuildingNumber : Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mUnit.mBuilding.BuildingName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Unit :</strong>
                                </td>
                                <td>
                                    @(Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mUnit == null ?
                                        Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mCompoundUnits.UnitNumber : Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mUnit.UnitNumber)
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">
                        <tbody>
                            <tr>
                                <td style="width:30%">
                                    <strong>Company Name :  </strong>
                                </td>
                                <td style="width:70%">
                                    @Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mTenant.TenantCompany
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Tenant  :  </strong>
                                </td>
                                <td>
                                    @Model.invoiceRelatedPaymentDates.FirstOrDefault().unitRentContractPayment.UnitRentContract.mTenant.tenantName
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Payment Mehtod  :  </strong>
                                </td>
                                <td>
                                    @(Enum.GetName(typeof(Enums.PaymentMehtod),Model.PaymentMehtod) + (Model.PaymentMehtod == 3 || Model.PaymentMehtod == 4 ? " (" + Model.checkVisaNumber + ")" :""))
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="min-height:400px">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th class="text-center border-top-0 table-scale-border-bottom fw-700" style="width:5%">#</th>
                                <th class="border-top-0 table-scale-border-bottom fw-700">Description</th>
                                <th class="text-right border-top-0 table-scale-border-bottom fw-700">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;

                                foreach (var iterate in Model.invoiceRelatedPaymentDates.Where(x=>x.Amount > 0 ).OrderBy(x=>x.unitRentContractPayment.DueDate) )
                                {
                                    counter++;
                                    <tr>
                                        <td class="text-center fw-700">@counter</td>

                                        <td class="text-left strong">
                                           @( iterate.PaymentState == true ?
                                            "Payment (full) for the period " + iterate.unitRentContractPayment.DueDate.ToShortDateString() : "Payment (partial) for the period " + iterate.unitRentContractPayment.DueDate.ToShortDateString())
                                        </td>
                                        <td class="text-right">SAR @iterate.Amount </td>
                                    </tr>
                                }
                             }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-sm-8 ml-sm-auto">&nbsp;</div>

            <div class="col-sm-4 ml-sm-auto ">
                <table class="table table-clean table-responsiv">
                    <tbody>
                        @*<tr>
                            <td class="text-left">
                                <strong>Subtotal</strong>
                            </td>
                            <td class="text-right"><strong>  SAR 8,497.05  </strong> </td>
                        </tr>

                        <tr>
                            <td class="text-left">
                                <strong>VAT (15%)</strong>
                            </td>
                            <td class="text-right"><strong>SAR 679.76 </strong> </td>
                        </tr>*@
                        <tr class="table-scale-border-top border-left-0 border-right-0 border-bottom-0">
                            <td class="text-left keep-print-font">
                                <h4 class="m-0 fw-700 h2 keep-print-font color-primary-700">Total</h4>
                            </td>
                            <td class="text-right keep-print-font">
                                <h4 class="m-0 fw-700 h2 keep-print-font">SAR @Model.Payment</h4>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

        </div>


        <div class="row" style="margin-top:160px">
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-sm align-self-end" style="border: solid 1px #E9E9E9 ">
                        <tbody>

                            <tr>
                                <td colspan="2" class="py-1 text-primary">
                                    <h3>   <strong> Bank Details: </strong></h3>
                                </td>

                            </tr>

                            <tr>
                                <td style="width:30%">
                                    <strong>Account Name :	 </strong>
                                </td>
                                <td style="width:70%">
                                    AZ Real Estate Development Co. Ltd
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Account No. :   </strong>
                                </td>
                                <td>
                                    021-663-532-600-9
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>IBAN:  </strong>
                                </td>
                                <td>
                                    SA40-6000-0000-21-663-532-600-9
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Swift Code :  </strong>
                                </td>
                                <td>
                                    BJAZSAJE
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong> Bank Name :  </strong>
                                </td>
                                <td>
                                    AL-Jazira Bank
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>  Bank Address :  </strong>
                                </td>
                                <td>
                                    Saudi Arabia
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-1 d-flex"> </div>


            <div class="col-sm-5 d-flex">
                <div class="table-responsive">
                    <table class="" style="width:100%">
                        <thead>
                            <tr>



                                <th class="border-top-0 " style="text-align:center">
                                    <span class="titleSegnat_en textB"> Sign By </span>
                                </th>

                                <th class="border-top-0" style="text-align:center">
                                    <span class="titleSegnat_en textB">  Stamp </span>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center; padding-top:30px"> ----------------------------- </td>
                                <td style="text-align:center; padding-top:30px"> </td>


                            </tr>


                        </tbody>




                    </table>
                </div>
            </div>
        </div>



        <hr />

        <div class="row" style="margin-bottom:0!important; padding-bottom:0px!important">
            <div class="col-sm-12" style="margin-bottom:0!important; padding-bottom:0px!important">

                <p class="mt- text-muted mb-0 py-0 text-primary" style="text-align:center">
                    7279 Prince Hamoud bin Abdulaziz St. Al Khobar 34442 KSA. T: 00966138020059. CR. 2051221520, www.az-ltd.com
                </p>

            </div>
        </div>


    </div>

</div>



@section ScriptsBlock {
}





