@model SmartAdmin.WebUI.Models.ElectricityMeter
@{
    ViewData["Title"] = "Details";
    ViewData["PageName"] = ViewBag.CompoundID == null ? "Building Electricity "+@ViewBag.id : $"{(ViewBag.CompoundName as string).Trim()} Electricity";
    ViewData["Heading"] = "<i class='fal fa-th-list text-primary'></i> Details";
    ViewData["Category1"] = "";
    ViewData["PageDescription"] = "";
    int? tenantID = Model?.Unit?.UnitRentContract != null ? Model?.Unit.UnitRentContract.IdTenant : Model?.CompoundUnit?.UnitRentContract != null ? Model?.CompoundUnit.UnitRentContract.IdTenant : null;
}
<div class="row">
    <div class="col-xl-12">
        <div class="card mb-g">
            <h4 class="card-header">Unit Information</h4>
            <div class="card-body">
                <div class="row ">
                    <div class="col-sm-6 ">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Unit Area</label>
                            <div class="col-sm-9">
                                <p class="col-form-label col-sm-9 text-sm-left" id="lblArea"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building</label>
                            <div class="col-sm-9">
                                <p class="col-form-label col-sm-9 text-sm-left" id="lblBuilding"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">District City Country</label>
                            <div class="col-sm-9">
                                <p class="col-form-label col-sm-9 text-sm-left" id="lblDistrictCityCountry"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Owner</label>
                            <div class="col-sm-9">
                                <p class="col-form-label col-sm-9 text-sm-left" id="lblOwner">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@if (tenantID.HasValue)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-g">
                <h4 class="card-header">Tenant Information</h4>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Iqama No</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblIqamaNo"> </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Mobile No</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblMobileNo"> </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label"> Company Phone</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblCompanyPhone"> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Work</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblWork"> </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Nationality</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblNationality">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-6" class="panel ">
            <div class="panel-hdr bg-primary-700 bg-success-gradient">
                <h2>
                    Electricity Details
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="card-body">
                <form class="form-horizontal was-validated" asp-action="Create">
                    <input type="hidden" value="@ViewBag.CompoundID" id="compoundID" name="compoundID" />
                    @if (ViewBag.AlertSaveErr != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="fal fa-times"></i>
                                </span>
                            </button>
                            <div class="d-flex flex-start w-100">
                                <div class="d-flex flex-fill">
                                    <div class="flex-fill">
                                        <p>  @ViewBag.AlertSaveErr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Building
                                </label>
                                <div class="col-sm-9">
                                    <select class="select2 form-control w-100" asp-for="BuildingID" asp-items="ViewBag.Buildings" disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Unit
                                </label>
                                <div class="col-sm-9">
                                    @if (ViewBag.IsCompound)
                                    {
                                        <select class="select2 form-control w-100" asp-for="CompoundUnitID" id="unit" disabled>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="select2 form-control w-100" asp-for="UnitID" id="unit" disabled>
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Electricity meter Number
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " asp-for="ElectricityMeterNumber" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Payment number
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " asp-for="PaymentNumber" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    The start of the meter reading for the tenant
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="StartOfMeter" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Note
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Note" disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Transfer the account to the tenant?
                                </label>
                                <div class="col-sm-9">
                                    <div class="frame-wrap">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline1Radio" asp-for="TransferTheAccountToTenant" value="true" disabled>
                                            <label class="custom-control-label" for="defaultInline1Radio">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline" style="padding-top:5px">
                                            <input type="radio" class="custom-control-input" id="defaultInline2Radio" asp-for="TransferTheAccountToTenant" value="false" disabled>
                                            <label class="custom-control-label" for="defaultInline2Radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group  alert alert-primary alert-dismissible text-center">
                        <button type="button" class="btn btn-secondary ml-1 waves-effect waves-themed" onclick="back()">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var value = '@(Model.CompoundUnitID.HasValue?Model.CompoundUnitID:Model.UnitID)';
        var action = '@(ViewBag.CompoundID!=null? "/ElectricityMeter/GetCompoundMeters?compoundID="+ ViewBag.CompoundID : "/ElectricityMeter/GetBuildingMeters?id="+ ViewBag.id)';
        var unitDataAction = '@(ViewBag.CompoundID!=null? "/ElectricityMeter/GetCompoundUnitInfo" : "/ElectricityMeter/GetUnitInfo")';
        $('#BuildingID').on('change', function () {
            var items;
            var action = '@(ViewBag.CompoundID!=null? "GetCompoundBuildingUnits" : "GetBuildingUnits")';
            var url = '@Url.Content("~/")' + 'ElectricityMeter/' + action;
            $.getJSON(url, { buildingID: $('#BuildingID').val() }, function (data) {
                    $.each(data, function (i, row) {
                        items += "<Option value='" + row.value + "'>" + row.text + "</Option>";
                    });
                    if (items != null) {
                        items = "<option >Select Apartment/Villa/Shop</option>" + items;
                    }
                 $('#unit').val(null).trigger('change');
                 $('#unit').empty();
                 $('#unit').html(items);
                 $('#unit').focus();
                });
            })
        $("#BuildingID").val('@Model.BuildingID').trigger("change");
        setTimeout(function () { $("#unit").val(value).trigger("change"); }, 1000);
        $("#unit").on('change', function () {
            $.getJSON(unitDataAction, { unitID: $(this).val() }, function (data) {
                if (data != null) {
                    $("#lblArea").text(data.unitArea);
                    $("#lblBuilding").text(data.buildingNo + "-" + data.buildingAddress);
                    $("#lblDistrictCityCountry").text(data.district + "-" + data.city + "- " + data.country + "- " + data.compoundName);
                    $("#lblOwner").text(data.owner);
                }
                else {
                    $("#lblArea").text("");
                    $("#lblBuilding").text("");
                    $("#lblDistrictCityCountry").text("");
                    $("#lblOwner").text("");
                }
            });
        });

        function back() {
            var fallbackUrl = action;
            var prevPage = window.location.href;

            window.history.go(-1);

            setTimeout(function () {
                if (window.location.href == prevPage) {
                    window.location.href = fallbackUrl;
                }
            }, 500);
        }
    </script>
    @if (tenantID.HasValue)
    {
        <script>
            var url = '@Url.Content("~/")' + 'ElectricityMeter/GetTenantInfo';
            $.getJSON(url, { tenantId: '@tenantID' }, function (data) {
                if (data != null) {
                    $("#lblIqamaNo").text(data.iqamaId);
                    $("#lblMobileNo").text(data.mobileNumber);
                    $("#lblWork").text(data.work) ;
                    $("#lblCompanyPhone").text(data.companyPhone);
                    $("#lblNationality").text(data.nationality);
                }
                else {
                    $("#lblIqamaNo").text("");
                    $("#lblMobileNo").text("");
                    $("#lblWork").text("");
                    $("#lblCompanyPhone").text("");
                    $("#lblNationality").text("");
                }

            });
        </script>
    }
}