@model SmartAdmin.WebUI.Models.Buildings
@{
    ViewData["Title"] = $"Create Building";
    ViewData["PageName"] = "Buildings page " + ViewBag.id;
    ViewData["Heading"] = $"<i class='fal fa-th-list text-primary'></i>Create Building";
    ViewData["Category1"] = "Buildings";
    ViewData["PageDescription"] = "";
}

<form asp-action="Create" asp-route-pageid ="@ViewBag.id"enctype="multipart/form-data" class="was-validated">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (ViewBag.AlertSaveErr != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fal fa-times"></i>
                </span>
            </button>
            <div class="d-flex flex-start w-100">
                <div class="d-flex flex-fill">
                    <div class="flex-fill">
                        <p>  @ViewBag.AlertSaveErr</p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-6" class="panel ">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>
                        Create Building
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <input type="hidden" asp-for="idMasterBuilding" class="form-control" value="@ViewBag.id">
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Number *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" required autocomplete="off" asp-for="BuildingName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Value *</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" autocomplete="off" asp-for="BuildingValue" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Area *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="BuildingArea">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Year (ex:1995) *</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" asp-for="BuildingYear" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Country *
                                </label>
                                <div class="col-sm-9">
                                    <select asp-for="IdCountry" class="select2 form-control w-100" asp-items="ViewBag.IdCountry" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    City *
                                </label>
                                <div class="col-sm-9">
                                    <select asp-for="IdCity" class="select2 form-control w-100" asp-items="ViewBag.IdCity" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    District *
                                </label>
                                <div class="col-sm-9">
                                    <select asp-for="IdDistrict" class="select2 form-control w-100" asp-items="ViewBag.IdDistrict" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Remarks </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="BuildingNotes">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Address *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="BuildingAddress" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building Yearly Income *</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" asp-for="BuildingYearlyIncome" id="WaterPaidAmount" required>

                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    GPS url(Link)
                                </label>
                                <div class="col-sm-9">
                                    <input type="url" class="form-control" asp-for="GPSLink" id="WaterRemainingAmount">

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3 text-sm-right form-label" for="example-fileinput">Building Picture</label>
                                <div class="col-sm-9">
                                    <input type="file" id="example-fileinput" class="form-control-file" name="buildingImageFile">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Water Meter Number
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="MeterWaterNumber">

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">For Families</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" asp-for="ForFamilies" class="form-control" id="customSwitch1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Owner *
                                </label>
                                <div class="col-sm-9">
                                    <select asp-for="IDOwner" class="select2 form-control w-100" asp-items="ViewBag.IDOwner" required>
                                        <optgroup label="Select Owner">
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group  alert alert-primary alert-dismissible text-center">
                    <button class="btn btn-primary ml-auto waves-effect waves-themed" type="submit">Create Building</button>
                    <button type="button" class="btn btn-secondary ml-1 waves-effect waves-themed" onclick="back()">Cancel</button>
                </div>
            </div>
        </div>


    </div>
</form>



@section ScriptsBlock{
    <script>
        $(document).ready(function () {
            $('#IdCountry').val(null).trigger('change');
            $('#IdCity').val(null).trigger('change');
            $('#IdDistrict').val(null).trigger('change');
            $('#IDOwner').val(null).trigger('change');
        $("#IdCountry").change(function () {
        var url = '@Url.Content("~/")' + 'Buildings/getCitiesByCountries';
        $.getJSON(url, { IdCountry: $("#IdCountry").val() }, function (data) {
        var items;
        $('#IdCity').val(null).trigger('change');
        $('#IdCity').empty();
        $('#IdDistrict').val(null).trigger('change');
        $('#IdDistrict').empty();
        $.each(data, function (i, row) {
        items += "<Option value='" + row.value + "'>" + row.text + "</Option>";
        }
        );
        if (items != null) items = "<Option>Select a city </Option>" + items;
        $('#IdCity').html(items);})
        });
        $("#IdCity").change(function () {
        var url = '@Url.Content("~/")' + 'Buildings/getDistrictsByCities';

        $.getJSON(url, { IdCity: $("#IdCity").val() }, function (data) {

        var items;
        $('#IdDistrict').val(null).trigger('change');
        $('#IdDistrict').empty();
        $.each(data, function (i, row) {
        items += "<Option value='" + row.value + "'>" + row.text + "</Option>";
        }
        );
        if (items != null) items = "<Option>Select a district </Option>" + items;
        $('#IdDistrict').html(items);
        }
        )
        });
        });
        function back() {
            var fallbackUrl = "/Buildings/Index?id="+@ViewBag.id;
            var prevPage = window.location.href;

            window.history.go(-1);

            setTimeout(function () {
                if (window.location.href == prevPage) {
                    window.location.href = fallbackUrl;
                }
            }, 500);
        }
    </script>
}

