@using SmartAdmin.WebUI.Models.UnitElectricityMeterVM;

@model IEnumerable<UnitElectricityMeterVM>
@{
    ViewData["Title"] = "Unit Electricity Meter";
    ViewData["PageName"] = "Electricity";
    ViewData["Heading"] = $"<i class='fal fa-th-list text-primary'></i> Unit Electricity Meter";
    ViewData["Category1"] = "Electricity";
    ViewData["PageDescription"] = "";
    //ViewData["Title"] = "List All Unit Electricity Meter";
}

@if (TempData["AlertSaveErr"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="fal fa-times"></i>
            </span>
        </button>
        <div class="d-flex flex-start w-100">
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <p>  @TempData["AlertSaveErr"]</p>
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="fal fa-times"></i>
            </span>
        </button>
        <div class="d-flex flex-start w-100">
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <p>  @TempData["success"]</p>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-xl-12">
        <div class="panel-tag">
            <p>
                <a asp-action="Create" class="btn btn-primary btn-lg btn-block waves-effect waves-themed">
                    <span>Add New Electricity Meter Unit</span>
                </a>
            </p>
        </div>
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2 style="font-size: 150%; ">
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>

                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 az-datatable">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.BuildingInfo)  </th>
                                <th>@Html.DisplayNameFor(model => model.UnitNumber) </th>
                                <th>@Html.DisplayNameFor(model => model.ElectricityMeterNumber)</th>
                                <th class="noExport">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Select((value, i) => new { i, value }))
                            {
                            <tr>
                                <td>
                                    @(item.i + 1 )
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.value.BuildingInfo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.value.UnitNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.value.ElectricityMeterNumber)
                                </td>
                                <td>
                                    <div class="btn-group" id="js-demo-nesting" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Operation</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Create" title="Edit" asp-route-IdUnit=@item.value.IdUnit>Edit</a>
                                                <a class="dropdown-item" asp-action="Delete" title="Delete" asp-route-IdUnit=@item.value.IdUnit onclick="javascript: return confirm('Are you sure, You want to delete the meter?');">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>

    $("#IdBuildingsDDL").select2({
        placeholder: "Select a Building"
    });
          $("#IdBuildingsDDL").change(function () {
            var url = '@Url.Content("~/")' + 'ElectricityMeterUnit/Index?IdBuilding=' + $("#IdBuildingsDDL").val();
            location.href = url;
          });
        pageTitle.innerHTML = '<i class="fontello-icon-monitor"></i>' + 'List of Electricity Meter';
        $('#tbl-electricity-meter').dataTable(
            {
                oLanguage: {
                    sSearch: "",
                    sLengthMenu: "_MENU_ entries to page",
                    sZeroRecords: 'No record found <button class="btn btn-danger resetTable">Reset filter</button>'
                },
                iDisplayLength: 50,
                sPaginationType: 'full_numbers',
                sDom: "<'row-fluid' <'widget-header' <'span4'l> <'span8'<'table-reset-wrapper'>f<'table-tool-wrapper'> > > >  rt <'row-fluid' <'widget-footer' <'span12'p> >",
                aoColumnDefs: [
                    { "bSearchable": false, "aTargets": [4] }
                ]
            }
        );
    </script>
}