@model SmartAdmin.WebUI.Models.Maintenance
@{
    ViewData["Title"] = "Create";
    ViewData["PageName"] = ViewBag.CompoundID == null ? "Building Maintenance " + ViewBag.id : $"{(ViewBag.CompoundName as string).Trim()} Maintenance";
    ViewData["Heading"] = "<i class='fal fa-th-list text-primary'></i> Create";
    ViewData["Category1"] = "";

}
@*<div class="row">
        <div class="col-xl-12">
            <div class="card mb-g">
                <h4 class="card-header">Unit Information</h4>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Unit Area</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblArea"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Building</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblBuilding"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">District City Country</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblDistrictCityCountry"></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">Owner</label>
                                <div class="col-sm-9">
                                    <p class="col-form-label col-sm-9 text-sm-left" id="lblOwner">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-6" class="panel ">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>
                        Add Maintenance
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form-horizontal was-validated" asp-action="Create">
                        <input type="hidden" value="@ViewBag.CompoundID" id="compoundID" name="compoundID" />
                        @if (ViewBag.AlertSaveErr != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="fal fa-times"></i>
                                    </span>
                                </button>
                                <div class="d-flex flex-start w-100">
                                    <div class="d-flex flex-fill">
                                        <div class="flex-fill">
                                            <p>  @ViewBag.AlertSaveErr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                        Building
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="select2 form-control w-100" asp-for="BuildingID" asp-items="ViewBag.Buildings">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                        Unit
                                    </label>
                                    <div class="col-sm-9">
                                        @if (ViewBag.IsCompound)
                                        {
                                            <select class="select2 form-control w-100" asp-for="CompoundUnitID" id="unit" required>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="select2 form-control w-100" asp-for="UnitID" id="unit" required>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                        Description*
                                    </label>
                                    <div class="col-sm-9">
                                        <textarea required class="form-control" asp-for="Description">

                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                        Cost*
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control " min="1" asp-for="Cost" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">End Date*</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" value="" class="form-control az-datepicker-3" asp-for="MaintenanceEndDate" autocomplete="off" required>
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                        Responsible *
                                    </label>
                                    <div class="col-sm-9">
                                        <select asp-for="UserID" class="select2 form-control w-100" asp-items="ViewBag.Mandoobs" required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group  alert alert-primary alert-dismissible text-center">
                            <button class="btn btn-primary ml-auto waves-effect waves-themed" type="submit">Save </button>
                            <button type="button" class="btn btn-secondary ml-1 waves-effect waves-themed" onclick="back()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

<form class="form-horizontal was-validated" asp-action="Create" asp-page-id="ViewBag.id">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-6" class="panel">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>
                        Select Unit
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="card-body">
                    <input type="hidden" value="@ViewBag.CompoundID" id="compoundID" name="compoundID" />
                    @if (ViewBag.AlertSaveErr != null)
                    {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fal fa-times"></i>
                        </span>
                    </button>
                    <div class="d-flex flex-start w-100">
                        <div class="d-flex flex-fill">
                            <div class="flex-fill">
                                <p>  @ViewBag.AlertSaveErr</p>
                            </div>
                        </div>
                    </div>
                </div>}
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Building *
                                </label>
                                <div class="col-sm-9">
                                    <select class="select2 form-control w-100" asp-for="BuildingID" asp-items="ViewBag.Buildings">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label">
                                    Unit *
                                </label>
                                <div class="col-sm-9">
                                    @if (ViewBag.IsCompound)
                                    {
                        <select class="select2 form-control w-100" asp-for="CompoundUnitID" id="unit" required>
                        </select> }
                                    else
                                    {
                        <select class="select2 form-control w-100" asp-for="UnitID" id="unit" required>
                        </select>
                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-6" class="panel ">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>
                        Description
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label text-info col-sm-3 text-sm-right form-label">
                                    Description *
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control  col-sm-12" asp-for="Description" rows="5"></textarea>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label  col-sm-3 text-sm-right form-label text-info">
                                    RV. No. / سند قبض رقم *
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control  col-sm-12" asp-for="InvoiceNo" required>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label  col-sm-3 text-sm-right form-label text-info">
                                    Responsible *
                                </label>
                                <div class="col-sm-9">
                                    <select asp-for="UserID" class="select2 form-control w-100" asp-items="ViewBag.Mandoobs" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-3 text-sm-right form-label text-info">
                                    End Date *
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" value="" class="form-control az-datepicker-3" asp-for="MaintenanceEndDate" autocomplete="off" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text fs-xl">
                                                <i class="fal fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label  col-sm-3 text-sm-right form-label text-info">
                                    Cost *
                                </label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control " min="1" asp-for="Cost" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-6" class="panel ">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>
                        Maintenance Department
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label"> Electricity / الكهرباء</label>
                                <textarea class="form-control col-sm-6" asp-for="ElectricityDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Electricity">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label"> Plumbing / السباكة</label>
                                <textarea class="form-control col-sm-6" asp-for="PlumbingDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Plumbing">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label"> Paint / الدهان </label>
                                <textarea class="form-control col-sm-6" asp-for="PaintDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Paint">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label">  Tiles / الارضيات </label>
                                <textarea class="form-control col-sm-6" asp-for="TilesDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Tiles">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label">  Toilet / الحمامات </label>
                                <textarea class="form-control col-sm-6" asp-for="ToiletDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Toilet">
                            </div>


                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label">  Water Heater / سخان المياه </label>
                                <textarea class="form-control col-sm-6" asp-for="WaterHeaterDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="WaterHeater">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label">  Kitchen  / المطبخ  </label>
                                <textarea class="form-control col-sm-6" asp-for="KitchenDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Amount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Kitchen">
                            </div>


                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label">  A/C  / التكيف  </label>
                                <textarea class="form-control col-sm-6" asp-for="ConditioningDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Ammount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Conditioning">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label"> Carpentry  / النجارة  </label>
                                <textarea class="form-control col-sm-6" asp-for="CarpentryDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Ammount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Carpentry">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label"> Waste  / السكراب  </label>
                                <textarea class="form-control col-sm-6" asp-for="WasteDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Ammount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Waste">
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-2 text-sm-right form-label"> Others  / اخرى  </label>
                                <textarea class="form-control col-sm-6" asp-for="OthersDesc" rows="1"></textarea>
                                <label for="inputEmail3" class="col-form-label col-sm-1 text-sm-right form-label"> Ammount</label>
                                <input type="number" class="form-control count col-sm-2" asp-for="Others">
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label col-sm-9 text-sm-right form-label text-danger font-weight-bold"> Total Amount  </label>
                                <input type="number" class="form-control  col-sm-2" asp-for="TotalAmount" readonly>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group  alert alert-primary alert-dismissible text-center">
                        <button class="btn btn-success  ml-auto waves-effect waves-themed" type="submit">Save </button>
                        <button type="button" class="btn btn-secondary ml-1 waves-effect waves-themed" onclick="back()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ScriptsBlock{
    <partial name="_ValidationScriptsPartial" />
    <script>
        //$(function () {
        //    $('.count').val('');
        //})
        var action ='@(ViewBag.CompoundID!=null? "/Maintenance/GetCompound?compoundID=" + ViewBag.CompoundID : "/Maintenance/GetBuilding")'
        var unitDataAction = '@(ViewBag.CompoundID!=null? "/Maintenance/GetCompoundUnitInfo" : "/Maintenance/GetUnitInfo")';
        $('#BuildingID').on('change', function () {
            var items;
            var action = '@(ViewBag.CompoundID!=null? "GetCompoundBuildingUnits" : "GetBuildingUnits")';
            var url = '@Url.Content("~/")' + 'Maintenance/' + action;
            console.log(url);
            $.getJSON(url, { buildingID: $('#BuildingID').val() }, function (data) {
                    $.each(data, function (i, row) {
                    items += "<Option value='" + row.value + "'>" + row.text + "</Option>";
                });
                if (items != null) {
                    items = "<option >Select Apartment/Villa/Shop</option>" + items;
                }
                 $('#unit').val(null).trigger('change');
                 $('#unit').empty();
                 $('#unit').html(items);
                 $('#unit').focus();
            });
        })
        $("#BuildingID").val(null).trigger("change");
        //$("#unit").on('change', function () {
        //    $.getJSON(unitDataAction, { unitID:$(this).val() },function (data) {
        //        if (data != null) {
        //            $("#lblArea").text(data.unitArea);
        //            $("#lblBuilding").text(data.buildingNo + "-" + data.buildingAddress);
        //            $("#lblDistrictCityCountry").text(data.district + "-" + data.city + "- " + data.country + "- " + data.compoundName);
        //            $("#lblOwner").text(data.owner);
        //        }
        //        else {
        //            $("#lblArea").text("");
        //            $("#lblBuilding").text("");
        //            $("#lblDistrictCityCountry").text("");
        //            $("#lblOwner").text("");
        //        }
        //    });
        //});
        $('.count').on('change', function () {
            var currentValue = parseFloat($("#TotalAmount").val());
            currentValue += parseFloat($(this).val());
            $("#TotalAmount").val(currentValue);
        });
        function back() {
            var fallbackUrl = action;
            var prevPage = window.location.href;
            window.history.go(-1);
            setTimeout(function () {
                if (window.location.href == prevPage) {
                    window.location.href = fallbackUrl;
                }
            }, 500);
    }
    </script>
}