@model IEnumerable<SmartAdmin.WebUI.Models.Districts>

@{ ViewData["Title"] = "Districts";
    ViewData["Heading"] = "<i class='fal fa-th-list text-primary'></i> Districts";
    ViewData["Category1"] = "Districts";
    ViewData["PageName"] = "Districts";}
<div class="row">
    <div class="col-xl-12">
        <div class="panel-tag">
            <p>
                @Html.Partial("_CreateNewPartial")

            </p>
        </div>

        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2 style="font-size: 150%; ">
                    <span class="icon-stack icon-stack-lg">
                        <i class="base-2 icon-stack-3x color-primary-400"></i>
                        <i class="base-3 icon-stack-2x color-primary-600 opacity-70"></i>
                        <i class="fal fa-lightbulb icon-stack-1x text-white opacity-90"></i>
                    </span>   <span class="fw-500  text-primary"> Total Districts :  </span> &nbsp;<span class="color-danger-500"> @Model.Count()  </span>
                </h2>
                <div class="panel-toolbar" id="selectContainer">
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>

                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 az-datatable">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.DistrictName) <span class="column-sorter "></span></th>
                                <th>@Html.DisplayNameFor(model => model.IdCity) <span class="column-sorter"></span></th>
                                <th>Operations </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int counter = 0; }
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>@{counter++;} @counter</td>
                    <td>@Html.DisplayFor(modelItem => item.DistrictName)</td>
                    <td>@Html.DisplayFor(modelItem => item.mCity.CityName)</td>
                    <td>@Html.Partial("_TableButtonsPartial", item.IdDistrict)</td>
                </tr>}
                        </tbody>
                    </table>

                    <!-- // DATATABLE - DTB-1 -->

                </div>
                <!-- // Widget -->


            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#IdCity').select2();
            pageTitle.innerHTML = '<i class="fontello-icon-monitor"></i>' + 'List of Districts';
        });
    </script>
}
